body {
    background-color: white;
    margin: 0px;
    /* overflow: 요소의 콘텐츠가 너무 커서 요소의 블록 서식 맥락에 맞출 수 없을 때의 처리법 */
    overflow: hidden;
    color: white;
    font-family: Monospace;

}

#info {

    text-align: center;
    top: 30px;
    width: 100%;
    padding: 10px;
}

#c {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: block;
    z-index: -1;
}

.diagram {
    display: inline-block;
    width: 80em;
    height: 40em;
    border: 1px solid white
}

.left {
    float: left;
    margin-right: .25em;
}

.right {
    float: right;
    margin-left: .25em;
}