body {
    background-color: black;
    margin: 0px;
    /* overflow: 요소의 콘텐츠가 너무 커서 요소의 블록 서식 맥락에 맞출 수 없을 때의 처리법 */
    /* overflow: hidden; */
    color: white;
    font-family: Monospace;
}

#c {
    position: absolute;
    left: 0vw;
    top: 0vh;
    width: 100vw;
    height: 100vh;
    display: block;
    z-index: -3;
}

.diagram {
    margin-top: 5vh;
    position: relative;
    display: block;
    border: 1px solid rgb(88, 88, 88);
    cursor: pointer;
}

.left {
    position: fixed;
    float: left;
    width: 69.5vw;
    height: 70vh;
}

.right {
    float: right;
    width: 28vw;
    height: 30vh;
    padding-left: 1vw;
}

#instructions {
    position: fixed;  
    margin-top: 7vh;
    margin-left: 1.5vw;
    color: grey;
    font-size: 1.5vh;
}

.fixedText{
    position: fixed;
    text-align: center;
    width: 100%;
}

.title {
    margin-top: 1vh;
    font-size: 1.5vh;
}

.copyRight {
    bottom: 0;
    color: darkgrey;
    font-size: 1vh;
}

.description {
    margin-top: 80vh;
    font-size: 1vw;
    color: lightgrey;
}

.tip {
    min-height: auto;
    margin-top: 84vh;
    color: grey;
     font-size: 0.63vw;
}

#metaData{
    cursor: row-resize
}

::-webkit-scrollbar {
    width: 0px;
  }

