body {
    background-color: black;
    margin: 0px;
    /* overflow: 요소의 콘텐츠가 너무 커서 요소의 블록 서식 맥락에 맞출 수 없을 때의 처리법 */

    color: white;
    font-family: Monospace;
    z-index: 0;

}

#c {
    position: absolute;
    left: 0vw;
    top: 0vh;
    width: 100vw;
    height: 100vh;
    display: block;
    z-index: -1;
}

#d {
    position: fixed;
    left: 0vw;
    top: 0vh;
    width: 100vw;
    height: 100vh;
    display: block;
    z-index: -1;
}

#container {
    /* position: relative; */
    /* makes this the origin of its children */
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#labels {
    position: absolute;
    /* let us position ourself inside the container */
    left: 0;
    /* make our position the top left of the container */
    top: 0;
    background-color: black;
    color: white
}

.diagram {
    margin-top: 5vh;
    position: relative;
    display: block;
    border: 1px solid rgb(88, 88, 88);
    cursor: all-scroll;
    z-index: 3;
}

.left {
    position: fixed;
    float: left;
    width: 69.5vw;
    height: 70vh;
}

.right {
    float: right;
    width: 28vw;
    height: 30vh;
    padding-left: 1vw;
}

#instructions {
    position: fixed;
    margin-top: 7vh;
    margin-left: 1.5vw;
    color: grey;
    font-size: 1.5vh;
    z-index: 5;
}

.fixedText {
    position: fixed;
    text-align: center;
    width: 100%;

}

.title {
    margin-top: 1vh;
    font-size: 1.5vh;
}

.credit {
    color: grey;
    font-size: 0.43vw;
    bottom: 0;
    margin-bottom: 3vh;

}

.copyRight {
    bottom: 0;
    color: grey;
    font-size: 0.7vw;
    margin-bottom: 5vh;
}

.description {
    margin-top: 79vh;
    font-size: 1vw;
    color: lightgrey;
}

.tip {

    margin-top: 82vh;
    color: grey;
    font-size: 0.63vw;
}


#metaData {
    cursor: help;
    caret-color: white;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

.swal-text {
    background-color: black;
    /*
    padding: 17px;
    */
    display: block;
    margin: 22px;
    text-align: center;
    color: lightgrey;
    font-size: 17px;
}

.swal-modal {

    position: relative;
    top: -25%;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    border: 1px solid grey;
    width: 300px;


}

.swal-overlay {
    background-color: rgba(0, 0, 0, 0.5);
}

.swal-button {
    margin-right: 3px;
    /* margin-bottom: 5px;
       padding: 10px 19px;
    */
}

.swal-button--confirm {
    background-color: grey;
}

.swal-button--confirm:hover {
    transition: 3s;
}

#content {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 1;
    text-align: center;
}

.list-item {
    /*border: 1px solid rgb(88, 88, 88);
    */
    display: inline-block;
    margin: 1%;
    padding: 1%;
}

.list-item .scene {
    width: 300px;
    height: 300px;
}

.list-item .description {
    text-align: center;
    color: #888;
    font-size: small;
    width: 300px;
    margin-top: 1em;
    margin-bottom: 1em;

}

#popupBox {

    position: fixed;
    z-index: 3;
    background-color: rgba(0, 0, 0, 1);
    border-color: rgba(100, 100, 100, 1);
    border-width: 0.001vw;
    border-style: solid;

}

#loader {
    position: absolute;
    top: 50%;
    left: 50%;
    border: 10px solid #f3f3f3;
    /* Light grey */
    border-top: 10px solid grey;
    /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.hoverGuide {
    width: 30vw;
    background-color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 35%;
    left: 70%;
}

.rotateGuide {
    width: 30vw;
    background-color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 4%;
    left: 70%;

}

progress {
    -webkit-appearance: none;
    height: 0.5vh;
    width: 5vw;
}

::-webkit-progress-bar {
    background-color: grey
}

::-webkit-progress-value {
    background-color: white
}


.simple-keyboard {

    position: fixed;
    height: 100%;
    width: 100%;
    top: 77vh;
    left: 0%;
}

.simple-keyboard.myTheme1 {
    z-index: 11;
    border-radius: 0;
    background: none;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.simple-keyboard.myTheme1 .hg-button {
    display: flex;
    justify-content: center;
    max-width: 30px;
    max-height: 30px;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    color: white;
}

.simple-keyboard.myTheme1 .hg-button:active {
    background: white;
    color: black;
}